<!-- templates/base.html -->
<!DOCTYPE html>
{% load i18n %}
{% load django_bootstrap5 %}
<html lang="{{ LANGUAGE_CODE|default:'ru' }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <title>{% block bootstrap5_title %}Task manager{% endblock %}</title>
</head>
<body class="min-vh-100 d-flex flex-column">
    {% block navigation %}(no navbar){% endblock %}
    <div class="container wrapper flex-grow-1">
        {% bootstrap_messages %}
        {% block main %}(no main){% endblock %}
    </div>
    {% block footer %}(no footer){% endblock %}
</body>
</html>
